.password-copy-button {
  margin-top: 24px;
  width: 100%;
  padding: 18px 90px;
  border-radius: 12px;
  border: none;
  background-color: var(--color-secondary);
  font-size: var(--font-button);
  font-weight: 700;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 10px;
}
