.checkbox-list {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  color: var(--color-text);
  font-size: var(--font-body);

  & input {
    appearance: none;
    margin-right: 12px;
    width: 18px;
    height: 18px;
    border: 1px solid var(--color-border);
    border-radius: 6px;
    vertical-align: middle;
    cursor: pointer;

    &:checked::after {
      content: url("@/assets/images/check.svg");
      transform: scale(0.4);
      width: 20px;
      height: 20px;
      display: block;
      position: relative;
      left: -1px;
      top: -1px;
    }

    &:checked {
      background-color: var(--color-primary);
      border: none;
    }
  }

  & label {
    cursor: pointer;
    margin-top: 14px;
    width: 65%;
    display: flex;
  }
}

.checkbox-list__col {
  display: flex;
  flex-direction: column;
}
